.header{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}
 
.header a{
    all: unset;
}
 
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
}
 
#product {
    width: 180px;       
    height: 180px;      
    border-radius: 10px;
    overflow: hidden;  
}
 
#product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
 
 
.footer{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}
